<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hackerkernel.loginregisterwithparse">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- parse -->
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="SlyIamncMrdh3jIfn2KuyQ9e2yKKBiW08Znf6tux" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="2rIkMWnCzlt2MS6llHhaVtHmAoaUv1Sb0rBVIgQ9" />
        <!-- /parse -->
        <activity android:name=".LoginActivity"></activity>
    </application>

</manifest>
